// Body
$body-bg: #fff;




// Typography
$font-family-sans-serif: 'Saira', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Colors
$primaryColor: #E5BC48;
$secondaryColor: #F7DA2F;
$highlightColor: #F7AA2F;
$SupportingColor: #F7E681;


$primary: $primaryColor;